<ActionBar title="Contact Us" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
         <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
         </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <ScrollView orientation="vertical">
            <GridLayout class="m-5" rows="auto auto">
                <StackLayout row="0">
                    <Label class="h2" textWrap="true" text="Contact Information"></Label>
                    <StackLayout class="p-10 border">
                        <Label class="body" textWrap="true" text="121, Clear Water Bay Road"></Label>    
                        <Label class="body" textWrap="true" text="Clear Water Bay, Kowloon"></Label>
                        <Label class="body" textWrap="true" text="HONG KONG"></Label>    
                        <Label class="body" textWrap="true" text="Tel: +852 1234 5678"></Label>
                        <Label class="body" textWrap="true" text="Fax: +852 8765 4321"></Label>
                        <Label class="body" textWrap="true" text="Email:confusion@food.net"></Label>
                    </StackLayout>
                </StackLayout>
                <GridLayout row="1" orientation="horizontal" rows="*" columns="*, *" class="m-t-20">
                    <Button row="0" col="0" [text]="('fa-phone' | fonticon) + ' Call'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="callRestaurant()"></Button>
                    <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + ' Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
                </GridLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>
