<GridLayout row="0" class="sidedrawer-header" rows="auto" columns="100, *">
    <Image row="0" col="0" src="~/images/logo.png" class="sidedrawer-header-image"></Image>
    <Label row="0" col="1" text="Ristorante Con Fusion" class="sidedrawer-header-brand" textWrap="true"></Label>
</GridLayout>
<StackLayout class="sidedrawer-content">
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [nsRouterLink]="['/home']" clearHistory>
        <Label col="0" [text]="'fa-home' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="Home" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [nsRouterLink]="['/menu']" clearHistory>
        <Label col="0" [text]="'fa-list' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="Menu" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [nsRouterLink]="['/contactus']" clearHistory>
        <Label col="0" [text]="'fa-address-card' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="Contact {{ variable | uppercase }}" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [nsRouterLink]="['/aboutus']" clearHistory>
        <Label col="0" [text]="'fa-info-circle' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="About Us" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [nsRouterLink]="['/favorites']" clearHistory>
        <Label col="0" [text]="'fa-heart' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="My Favorites" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [nsRouterLink]="['/reservation']" clearHistory>
        <Label col="0" [text]="'fa-cutlery' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="Reserve Table" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
</StackLayout>