<ActionBar title="About Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
         <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
         </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent class="page">
        <ScrollView orientation="vertical">
            <GridLayout class="m-5" rows="auto, *" columns="*">
                <StackLayout row="0">
                    <StackLayout class="p-10 border">
                        <Label class="h2" textWrap="true" text="Our History"></Label>
                        <Label class="body" textWrap="true"
                            text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us."></Label>
                        <Label class="body" textWrap="true"
                            text="The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout row="1" class="m-5">
                    <Label class="h2" textWrap="true" text="Corporate Leadership"></Label>
                    <ListView class="list-group" [height]="leaders.length * 300" [items]="leaders" *ngIf="leaders">
                        <ng-template let-leader="item">
                            <GridLayout class="list-group-item" rows="auto, auto, auto" columns="auto, *">
                                <Image row="0" col="0" rowsSpan="3" [src]="baseURL + leader.image" class="thumb img-circle"></Image>
                                <Label class="h3" row="0" col="1" textWrap="true" [text]="leader.name"></Label>
                                <Label class="h4" row="1" col="1" textWrap="true" [text]="leader.designation"></Label>
                                <Label row="2" col="1" textWrap="true" [text]="leader.description"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                    <ActivityIndicator busy="true" *ngIf="!(leaders || errMess)" width="50" height="50"
                        class="activity-indicator">
                    </ActivityIndicator>
                    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>